{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>

    <div class="container-fluid">
        <div class="row">
            {% for program in programs %}

                <div class="card col-3" style="width: 18rem;">
                    <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }}">
                    <div class="card-body">
                        <p class="card-text">{{ program.summary }}</p>
                        <p class="card-text">{{ program.country }} - {{ program.year }}</p>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
