{# templates/wild/season.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Walking dead season{% endblock %}

{% block body %}

    <ul>
        {% for episode in episodes %}

            <li style="display: flex;">
                <h1>{{ episode.title }}</h1>
                <p style="margin: 20px;">{{ episode.number }}</p>
            </li>
            <p>{{ episode.synopsis }}</p>
            <a href="{{ path('wild_show_episode', {'id':episode.id}) }}" style="margin: 0 20px;">{{episode.title}}</a>

        {% else %}
            Aucune liste d'épisode trouvée.
        {% endfor %}
    </ul>

    <a href="{{ path('wild_show_program', {'programName':"walking-dead"}) }}">
        Retour à Walking Dead
    </a>

{% endblock %}